<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainMenuServlet</servlet-name>
        <servlet-class>servlets.MainMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>servlets.admin.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCakesServlet</servlet-name>
        <servlet-class>servlets.admin.ManageCakesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomersServlet</servlet-name>
        <servlet-class>servlets.admin.ManageCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeaturedServlet</servlet-name>
        <servlet-class>servlets.admin.ManageFeaturedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedbackServlet</servlet-name>
        <servlet-class>servlets.admin.ManageFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>servlets.admin.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePickupsServlet</servlet-name>
        <servlet-class>servlets.admin.ManagePickupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>servlets.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CakeInfoServlet</servlet-name>
        <servlet-class>servlets.CakeInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCakeServlet</servlet-name>
        <servlet-class>servlets.admin.AddCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCakeServlet</servlet-name>
        <servlet-class>servlets.admin.EditCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrders</servlet-name>
        <servlet-class>servlets.ViewOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCakeServlet</servlet-name>
        <url-pattern>/editcake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCakeServlet</servlet-name>
        <url-pattern>/addcake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainMenuServlet</servlet-name>
        <url-pattern>/mainmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CakeInfoServlet</servlet-name>
        <url-pattern>/cakeinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeServlet</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCakesServlet</servlet-name>
        <url-pattern>/managecakes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomersServlet</servlet-name>
        <url-pattern>/managecustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeaturedServlet</servlet-name>
        <url-pattern>/managefeatured</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedbackServlet</servlet-name>
        <url-pattern>/managefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/manageorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePickupsServlet</servlet-name>
        <url-pattern>/managepickups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrders</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>adminhome</welcome-file>
    </welcome-file-list>
</web-app>
