
body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(98,69,98,1) 100%);
}
h1{
    text-align:center;
    color: #ba7823;
}

div.c
{
    text-align: center;
} 

#tableheader{
    text-align: center;
    background-color: white;
    padding: 0.5em;
    color: red;
    font-size: 1.5em;
    border-radius:40px;
}



table  { 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;

    *{ 
        position:relative ;
    }

    td,th{ 
        padding-left:1em;
    }

    thead tr{ 
        height:60px;
        background:#FFED86;
        font-size:16px;
    }

}

