
.responsive {

    padding: 0 6px;
    float: left;
    width: 19.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

#cakecontainer{
    margin-left:3em;
    margin-right: 3em;
}

