body
{
    background-color: #BAFFA2;
}

.content
{
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background: white;
}

.title
{
    text-align: center;
}

.title h1
{
    display: inline;
    padding: 40px;
}

.cakeinfo
{
    text-align: center;
}

.cakeinfo img
{
    float: left;
}