body
{
    background-color: #BAFFA2;
}

.content
{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.title
{
    text-align: center;
}

.cakeinfo
{
    width: 60%;
    margin: 0 auto;
}

.image
{
    width: 250px;
    float: left;
}

.info
{
    width: 210px;
    float: right;
    margin-top: 40px;
}

.clearfix
{
    clear:both
}

.button
{
    margin: auto;
    width: 90px;
}