.card-title{
    color: #B022EA;
}

.btn-outline-secondary:hover{
    background-color: #CB98F8;
}

.carousel-caption{
    background-color: black;
    color: white;
    opacity: 0.7;
}

img, .card-img-top{
    height: 100%; 
    object-fit: contain;
}

.card{
    border:0;
}
a:hover {
    color: transparent;
}
