.card-title{
    color: #B022EA;
}

.btn-outline-secondary:hover{
    background-color: #CB98F8;
}

.carousel-caption{
    background-color: black;
    color: white;
    opacity: 0.5;
}

img, .card-img-top{
    height: 100%; 
    object-fit: contain;
}
