.navbar-custom {
    background-color: #624562;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.btn-outline-dark:hover{
    background-color: #CB98F8;
}

#bottomfooter{
    background-color: #624562;
}

.footertext{
    color: white;
}
.icon{
    height: 2em;
    width: 2em;
    display: block;
}